PM/Quanlynhahang/GUI/Connected Services/BUS/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cnpmutc1-001-site1.ftempurl.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:import schemaLocation="http://cnpmutc1-001-site1.ftempurl.com/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://cnpmutc1-001-site1.ftempurl.com/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BUS" />
  <xs:element name="DTOBAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="ban" nillable="true" type="q1:Ban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOBANResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="DTOBANResult" nillable="true" type="q2:Ban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOchitiethoadon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="chitiethoadon" nillable="true" type="q3:ChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOchitiethoadonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="DTOchitiethoadonResult" nillable="true" type="q4:ChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOGMAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="gmail" nillable="true" type="q5:Gmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOGMAILResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="DTOGMAILResult" nillable="true" type="q6:Gmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOHOAODN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hoaDon" nillable="true" type="q7:HoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOHOAODNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="DTOHOAODNResult" nillable="true" type="q8:HoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTONHANVIEN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nhanVien" nillable="true" type="q9:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTONHANVIENResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="DTONHANVIENResult" nillable="true" type="q10:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTONHOMMON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="Nhommon" nillable="true" type="q11:NhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTONHOMMONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="DTONHOMMONResult" nillable="true" type="q12:NhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOTHUCDON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="thucDon" nillable="true" type="q13:ThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTOTHUCDONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="DTOTHUCDONResult" nillable="true" type="q14:ThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RGB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="Nhommon" nillable="true" type="q15:NhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RGBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RGBResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TONGTIEN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hoaDon" nillable="true" type="q17:HoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TONGTIENResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TONGTIENResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinhTienGiam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hoaDon" nillable="true" type="q18:HoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinhTienGiamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TinhTienGiamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Gmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="sendmail" nillable="true" type="q19:Gmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLBAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="N" nillable="true" type="q20:BLLBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLBANResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="BLLBANResult" nillable="true" type="q21:BLLBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLCTHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="N" nillable="true" type="q22:BLLChiTietHD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLCTHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="BLLCTHDResult" nillable="true" type="q23:BLLChiTietHD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLHOADON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="N" nillable="true" type="q24:BLLHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLHOADONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="BLLHOADONResult" nillable="true" type="q25:BLLHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLNHANVIEN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="N" nillable="true" type="q26:BLLNhanvien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLNHANVIENResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="BLLNHANVIENResult" nillable="true" type="q27:BLLNhanvien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLNHOMMON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="N" nillable="true" type="q28:BLLNhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLNHOMMONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="BLLNHOMMONResult" nillable="true" type="q29:BLLNhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLTHUCDON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="N" nillable="true" type="q30:BLLThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLTHUCDONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="BLLTHUCDONResult" nillable="true" type="q31:BLLThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLTDPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="N" nillable="true" type="q32:BLLThucDonPhaChe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BLLTDPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BUS" minOccurs="0" name="BLLTDPCResult" nillable="true" type="q33:BLLThucDonPhaChe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="SelectBanResult" nillable="true" type="q34:ArrayOfBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TongSoBan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TongSoBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TongSoBanResult" nillable="true" type="q35:ArrayOfBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="ban" nillable="true" type="q36:Ban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdeteBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="ban" nillable="true" type="q37:Ban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdeteBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdeteBanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="ban" nillable="true" type="q38:Ban" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChiTietHD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChiTietHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetChiTietHDResult" nillable="true" type="q39:ArrayOfChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemCTHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timkiem" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemCTHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemCTHDResult" nillable="true" type="q40:ArrayOfChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetCTHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="chiTiet" nillable="true" type="q41:ChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetCTHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsetCTHDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCTHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="chiTiet" nillable="true" type="q42:ChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCTHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCTHDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCTHD2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaHd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCTHD2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCTHD2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCTHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thucDon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCTHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCTHDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDon5">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDon5Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemHoaDon5Result" nillable="true" type="q43:ArrayOfHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongkeHD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongkeHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThongkeHDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetHDResult" nillable="true" type="q44:ArrayOfHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hoaDon" nillable="true" type="q45:HoaDon" />
        <xs:element minOccurs="0" name="MANV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsetHDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDon1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="time2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDon1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemHoaDon1Result" nillable="true" type="q46:ArrayOfHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TongSoHd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="time2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TongSoHdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TongSoHdResult" nillable="true" type="q47:ArrayOfHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDon2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="time2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDon2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemHoaDon2Result" nillable="true" type="q48:ArrayOfHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maBan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemHoaDonResult" nillable="true" type="q49:ArrayOfChiTietHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetHD1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hoaDon" nillable="true" type="q50:HoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetHD1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsetHD1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hoaDon" nillable="true" type="q51:HoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hoaDon" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="SelectNVResult" nillable="true" type="q52:ArrayOfNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nhanVien" nillable="true" type="q53:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertIntoNVResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nhanVien" nillable="true" type="q54:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNVResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MANV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNVResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNhomMon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNhomMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="SelectNhomMonResult" nillable="true" type="q55:ArrayOfNhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TongNhomMon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TongNhomMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TongNhomMonResult" nillable="true" type="q56:ArrayOfNhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNhomMon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nhom" nillable="true" type="q57:NhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNhomMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNhomMonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhomMon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nhom" nillable="true" type="q58:NhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhomMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNhomMonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhomMon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="nhom" nillable="true" type="q59:NhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhomMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNhomMonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemNhomMon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nhom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemNhomMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemNhomMonResult" nillable="true" type="q60:ArrayOfNhomMon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectThucDon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectThucDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="SelectThucDonResult" nillable="true" type="q61:ArrayOfThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TongSoMon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TongSoMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TongSoMonResult" nillable="true" type="q62:ArrayOfThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectThucDon1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="time2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectThucDon1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="SelectThucDon1Result" nillable="true" type="q63:ArrayOfThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectThucDon2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="time2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectThucDon2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="SelectThucDon2Result" nillable="true" type="q64:ArrayOfThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetThucDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="thucDon" nillable="true" type="q65:ThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsetThucDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsetThucDonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateThucDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="thucDon" nillable="true" type="q66:ThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateThucDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateThucDonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteThucDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="thucDon" nillable="true" type="q67:ThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteThucDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteThucDonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemThucDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemThucDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemThucDonResult" nillable="true" type="q68:ArrayOfThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemThucDon2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemThucDon2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemThucDon2Result" nillable="true" type="q69:ArrayOfThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemThucDon1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemThucDon1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimKiemThucDon1Result" nillable="true" type="q70:ArrayOfThucDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTDPC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTDPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectTDPCResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTDPC1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTDPC1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectTDPC1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InSertTDPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hoaDon" nillable="true" type="q71:HoaDon" />
        <xs:element minOccurs="0" name="nv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InSertTDPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InSertTDPCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdeteTDPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdeteTDPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdeteTDPCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>